# .gitignore (ichigo-ichie フォルダ直下)

# Node.js dependencies
backend/node_modules

# Operating System files
.DS_Store
Thumbs.db

# IDE / Editor specific files (optional)
.vscode/
*.sublime-project
*.sublime-workspace

# Log files (optional)
npm-debug.log*
yarn-debug.log*
yarn-error.log*